*{
	text-align:right;
}
body{
	background-image:url(background.jpg);
	background-size:cover;
}
h2,p{
	color:palevioletred;
	text-align:center;
	border:5px dashed saddlebrown;
	cursor:pointer;
}
p{
	color:deepskyblue;
}
li{
	list-style:none;
	display:inline-block;
}
.webtext{
	border:5px solid springgreen;
}
.active{
	color:rebeccapurple;
}
#div1{
	background:antiquewhite;
}
#div2{
	background:rgba(255,0,78,0.5);
}